/* components/blog-components/Category.module.css */
.wrapper {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 20px;
  margin-bottom: 1rem;
}

.main {
  font-family: Merriweather;
  font-size: 22px;
  font-weight: 600;
  /* background: #e0f7fa; */
  /* color: #006064; */
  color: var(--color-3);
  /* padding: 0.25rem 0.5rem; */
  
  border-radius: 0.25rem;
  
  /* font-size: 0.875rem; */
}

.separator {
  color: black;
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 5px;
}

.sub {
  font-family: Merriweather;
  font-size: 22px;
  /* font-weight: 500; */

  /* color: #333; */
  color: #333333;
  /* font-size: 0.875rem;
  font-weight: 500; */
}
 