body {
    font-family: var(--font-button);
    background-color: var(--color-4);
}

.qOneBody {
    height: calc(100vh - 3rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.qOneQuestion {
    color: var(--color-2);   
    font-family: var(--font-question);
    /* font-size: 3.125vw; */
    font-size: clamp(1.6rem, 3.5vw, 3rem);
    /* font-size: 3.125vw; */
    
    
    margin-top: 3rem;
}

.qOneImg {
    /* flex-shrink: 5; */
    /* height: auto;
    width: 30%; */
    max-width: 85%;
    height: auto;
    flex-shrink: 1;
    object-fit: contain; /* Ensures the image scales properly */
    
}

.qOneButtonContainer {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
    margin-bottom: 2rem; 
    padding-bottom: 2rem; 
    box-sizing: border-box;
    

}


#buttons {
    padding: 1.9rem 3rem; /* Adjust padding as needed */
    margin: 0 1rem;
    border-radius: 25px;
    min-width: 150px; /* Set a minimum width */
    max-width: 300px; /* Set a maximum width */
    text-align: center; /* Center the text */
    flex-grow: 1; /* Allow buttons to grow if needed */
    min-height: 3.5rem;
    align-content: center;
}

#buttons:hover {
    background-color: lightgoldenrodyellow;
}

.qOneButtonI {
    background-color: var(--color-1);
}

.qOneButtonN {
    background-color: var(--color-2);
    

}

form {
    background-color: var(--color-4);
}