.qThreeBody {
    height: calc(100vh - 3rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-1);
}

.qThreeContainer {
    max-width: 40%;
    flex-shrink: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-evenly;
    overflow: hidden; 
    height: 100%;
    
}

@media only screen and (max-width: 768px) {
    .qThreeContainer {
        max-width: 90%; /* Adjust this value as needed */
    }
}

.qThreeQuestion {
    color: var(--color-4);   
    font-family: var(--font-question);
    font-size: clamp(1.6rem, 3.5vw, 2.5rem);
    margin-top: 3rem;
    
}

.qThreeImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain; 
    box-sizing: border-box;  
    margin: 1.5rem 0;
    position: relative;
    flex-grow: 1;
    width: 100%;  
}

.qThreeImg {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 100%;
}
