body {
    font-family: var(--font-button);
    background-color: var(--color-4);
}

.qThreeBody {
    height: calc(100vh - 3rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qThreeQuestion {
    color: var(--color-2);   
    font-family: var(--font-question);
    /* font-size: 3.125vw; */
    font-size: 100px;
    margin-top: 3rem;
}

.qThreeImg {
    height: auto;
    width: 30%;
}

.buttonContainer {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;

}

#buttons {
    padding: 1.9vw 3vw;
    margin: 0 1vw;
    border-radius: 25px;
    /* flex: 1; */
}

#buttons:hover {
    background-color: lightgoldenrodyellow;
}

.qThreeButtonI {
    background-color: var(--color-1);
}

.qThreeButtonN {
    background-color: var(--color-2);

}

form {
    background-color: var(--color-4);
}