/* body {
    font-family: var(--font-button);
    background-color: var(--color-4);
} */

.qFourBody {
    height: calc(100vh - 3rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-home);
}

.qFourQuestion {
    color: var(--color-4);   
    font-family: var(--font-question);
    font-size: 3.125vw;
    margin-top: 3rem;
    
}

.qFourImg {
    height: 50%;
    width: 30%;
    flex-shrink: 2;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

.qFourButtonContainer {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* padding-bottom: 5em; */

}

#buttons {
    padding: 1.9vw 3vw;
    margin: 0 1vw;
    border-radius: 25px;
}

#buttons:hover {
    background-color: lightgoldenrodyellow;
}

.qFourButtonI {
    background-color: var(--color-1);
}

.qFourButtonN {
    background-color: var(--color-3);
    white-space: nowrap;

}

form {
    background-color: var(--color-4);
}