.qEightBody {
    height: calc(100vh - 3rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-home);
}

.qEightQuestion {
    color: var(--color-4);   
    font-family: var(--font-question);
    font-size: 3.125vw;
    margin-top: 3rem;
    
}

.qEightImg {
    height: 50%;
    width: 30%;
    /* flex-shrink: 2; */
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    /* box-sizing: border-box; */
}

.qEightButtonContainer {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* padding-bottom: 5em; */

}

#buttons {
    padding: 1.9vw 3vw;
    margin: 0 1vw;
    border-radius: 25px;
}

#buttons:hover {
    background-color: lightgoldenrodyellow;
}

.qEightButtonI {
    background-color: var(--color-1);
}

.qEightButtonN {
    background-color: var(--color-3);

}