.qOnePage {
    min-height: 100vh;
    width: 100%;
    background-color: pink;  
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;    
}

.qOneBody {
    flex: 1; 
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: var(--font-button);
    background-color: var(--color-4);
}

.qOneContainer {
    flex: 1; 
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    overflow: hidden; 
    background-color: var(--color-4);
    padding-top: 50px;
}

.qOneQuestion {
    color: var(--color-2);   
    font-family: var(--font-question);
    font-size: clamp(1.6rem, 3.5vw, 3rem);  
}

.qOneImgContainer {
    width: 100%;
    background-color: var(--color-4);
    display: flex;
    justify-content: center; 
    margin: 0;
} 

.qOneImg {

    width: 100%;          
    max-width: 500px;   
    display: block;
    background-color: transparent; 
    display: block;
    object-fit: contain;
    margin: 0 auto;
    padding: 0px 20px;
}

@media (max-width: 430px) {
    .qOneImg {
        height: 250px;
        object-fit: cover;
    }
}
