.qSixPage {
    min-height: 100vh;
    width: 100%;
    background-color: pink;  
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;    
}

.qSixBody {
    flex: 1; 
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: var(--font-question);
    /* special color for 6th question */
    background-color: rgba(164, 102, 86, 0.9); 
    /* background-color: var(--color-3); */

}

.qSixContainer {
    flex: 1; 
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    overflow: hidden; 
    padding-top: 50px;  
    background-color: rgba(164, 102, 86, 0.9);
}

.qSixQuestion {
    color: var(--color-4);   
    font-family: var(--font-question);
    font-size: clamp(1.6rem, 3.5vw, 2.5rem);
    text-align: center;
}

.qSixImgContainer {
    width: 100%;
    display: flex;
    justify-content: center; 
    margin: 0;
    background-color: rgba(164, 102, 86, 0.9);
}

.qSixImg {
    width: 100%;          
    max-width: 500px;   
    display: block;
    background-color: transparent; 
    display: block;
    object-fit: contain;
    margin: 0 auto;
    padding: 0px 20px;
    height: auto;
}

@media (max-width: 430px) {
    .qSixImg {
        height: 250px;
        /* object-fit: cover; */
        width: auto;
    }
}
