/* body {
    font-family: var(--font-button);
    background-color: var(--color-4);
} */

/* not currently used? */
.qOnePage {
    
    /* height: 100vh; */
    /* height: calc(100vh - 3.2rem); */

    min-height: 100vh;
    /* min-height: calc(100vh - 3rem); */
    width: 100%;
    background-color: pink;  
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */

    /* justify-content: flex-start;
    align-items: stretch;   */

    margin: 0;
    padding: 0;
    /* overflow: hidden;       */

    flex-direction: column;

    /* transform: translateZ(0); */
    

    
}

.qOneBody {
    flex: 1; 
    /* height: 100vh; */
    /* height: inherit; */
    width: 100%;
    /* align-self: stretch; */
    /* min-width: 3000px; */
    /* height: 100%; */

    /* flex: 1; */
   
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    font-family: var(--font-button);

    background-color: var(--color-4);

    /* border: 10px solid red; */
    /* padding-bottom: 1px; */

    /* background-color: transparent; */
}
 /* height: calc(100vh - 3rem); */

.qOneContainer {
    flex: 1; 
    /* max-width: 40%;
    width: 100%; */
    /* flex-shrink: 1; */
    display: flex;
    box-sizing: border-box;

    /* justify-content: space-evenly; */
    justify-content: center;
 
    flex-direction: column;
    align-items: center; 
    overflow: hidden; 


    

}

@media only screen and (max-width: 768px) {
    .qOneContainer {
        max-width: 90%;
    }
}

/* just the title of the question */
.qOneQuestion {
    color: var(--color-2);   
    font-family: var(--font-question);
    font-size: clamp(1.6rem, 3.5vw, 3rem);  
    /* min-width: 60%;     */
    /* margin-top: 3rem; 
    margin-top: 3rem; */
}

.qOneImgContainer {
    width: 100%;
    /* background-color: transparent;  */
    background-color: var(--color-4);
    /* background-color: pink;   */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    /* padding: 2rem; */
    /* height: 100%; */
    margin: 0;
} 

.qOneImg {

    width: 100%;          
    max-width: 500px;   
    height: auto; 
    display: block;
    background-color: transparent; 
    display: block;
    object-fit: contain;
    margin: 0 auto;
    padding: 0;
}

/* @media (max-width: 768px) {
    .qOneImg {
        max-width: 80%; 
    }
} */

/* .q1 .important {
  background-color: var(--color1);
}

.q1 .notImportant {
  background-color: var(--color2);
} */

/* .important {
    background-color: blue;
} */