.indexBar {
    display: grid;
    /* grid-template-columns: auto 1fr auto auto auto;  */
    /* grid-template-columns: auto 1fr 1fr 1fr 1fr; */
    align-items: center;
    gap: 10px; 
    background-color: var(--color-light);
    padding: 10px;
    height: 71.5px;
    transition: height 0.3s ease-out;
}

.indexBar:hover {
    /* transform: scaleY(1.5);   affects contents inside*/
    height: 95px;
    /* background-color: var(--color-gold); */
}

.country-label {
  display: flex;
  align-items: center;
  gap: 8px; /* Adjust as needed to bring them closer or give breathing room */
}

/* Optional: override grid if needed */
.indexBar .country-label {
  grid-column: 1 / span 2; /* If necessary to collapse the first two columns into one */
}


.affiliate-links {
    display: flex;
    /* flex-direction: row;  */
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 10px; 
    min-height: 50px;
    width: auto; 
    /* margin-right: 500px; */
    /* padding-right: 300px; */
}


.indexBar .affiliate-links {
    grid-column: 3 / span 3;
}

.camera-icon {
    margin-right: 20px;
}

/* Darkens the image slightly */
/* a img:hover {
    filter: brightness(0.8); 
    transition: filter 0.3s ease;
} */

a img {
    transition: opacity 0.3s ease;
}

a:hover img {
    opacity: 0.6; /* Slight transparency effect */
}

#country-title {
    color: var(--color-4);
    font-family: Playpen Sans, sans-serif;
    font-size: 20px;
    /* padding: 0 100px; */
    min-width: 100px;
    max-width: 100px;
    margin-right: none;
    padding-right: none;
    
}