
.homeContainer {
    text-align: center;
    background-color: var(--color-home); 
    /* padding: 3em; */
    height: calc(100vh - 3rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-home);


}

.homeHeader {
    font-family: var(--font-theme);
    box-sizing: border-box;
    padding-bottom: 3rem;
    color: var(--color-4);


}

/* .logo {
    width: 10%;
    margin-bottom: 2em;
} */

h1 {
    font-size: 5rem;
    margin-bottom: 1em;
    width: 50%;
    
}

p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

