
.home-container {
    text-align: center;
    background-color: var(--color-home); 
    /* padding: 3em; */
    height: calc(100vh - 3rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.homeHeader {
    font-family: var(--font-theme);
    box-sizing: border-box;
    padding-bottom: 3rem;


}

/* .logo {
    width: 10%;
    margin-bottom: 2em;
} */

h1 {
    font-size: 5rem;
    margin-bottom: 1em;
    width: 50%;
}

p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}
/* 
.discover-button {
   font-size: 4em;
   font-family: var(--font-theme);
   background-color: var(--color-3); 
   color: var(--color-gold);
   border: none;
   border-radius: 0.5em;
   cursor: pointer;
   border-radius: 30px;

   margin-top: 1em;
   width: 30rem;
   padding: 0;
   border: 2px solid black;

}

.discover-button:hover {
    background-color: var(--color-4); 
}
 */
