/* this class is from question logic form  */
.question-page {
    background-color: var(--color-home);
    padding: 0;
    margin: 0;
}

.showResultsContainer {
    text-align: center;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-home);
}

.showResultsHeader {
    font-family: var(--font-theme);
    box-sizing: border-box;
    padding-bottom: 3rem;
    color: var(--color-4);

    /* was og in just h1 below */
    font-size: 5rem;
    margin-bottom: 1em;
    width: 50%;
}

/* .logo {
    width: 10%;
    margin-bottom: 2em;
} */



/* dont think thier is even a <p> property.. so not sure why thats here.. */
/* p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
} */

.showResultsButton {
   /* padding: 0.5em 0.5em; */
   font-size: 4em;
   font-family: var(--font-theme);
   background-color: var(--color-4); 
   color: var(--color-gold);
   border: none;
   border-radius: 0.5em;
   cursor: pointer;
   border-radius: 30px;

   margin-top: 1em;
   /* width: 30rem; */
   width: 80%; /* Changed from 30rem to 80% */
   max-width: 30rem; /* Optional: to set a maximum width */
   padding: 0;
   border: 2px solid black;

}

.showResultsButton:hover {
    background-color: lightgoldenrodyellow; 
}
