/* container + centering */
.container {
  margin: 2rem 0;
  text-align: left;
  /* background-color: red; */
}

/* wrapper to enforce aspect ratio if needed */
.imageWrapper {
  width: 100%;
}

/* responsive image */
.image {
    /* max-width: 800px;      */
  max-width: 650px;  /* cap at your true width */
  width: 100%;            /* override the intrinsic width to fluid */
  height: auto;           /* lock in the aspect ratio */
  object-fit: cover;      /* same as inline style for any extra safety */
  border-radius: 4px;

}

/* caption styling */
.caption {
  font-family: var(--font-detail);
  /* margin-top: 0.5rem; */
  font-size: 0.875rem; /* 14px */
  line-height: 1.4;
  /* color: #555; */
  color: #000000;
}

/* Tablet */
@media (min-width: 640px) {
  .container {
    margin: 3rem 0;
  }
  .caption {
    font-size: 1rem; /* 16px */
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .container {
    margin: 4rem 0;
  }
  .caption {
    font-size: 1.125rem; /* 18px */
  }
}
