/* components/BlogLayout.module.css */

/* .container {
  margin-left: 2rem;  
  margin-right: 2rem; 
} */

.pageBg {
  /* full-width bg */
  /* background-color: #f0f4f8;  */
  background-color: #F8F7F5; 
}

.container {
  /* background-color: #f0f4f8;     */
  background-color: #F8F7F5;
  padding-left: 2rem;           /* inset content */
  padding-right: 2rem;
  /* optional: constrain max-width if you want */
  /* max-width: 48rem;
  margin: 0 auto; */
  max-width: 58rem;
  margin: 0 auto;

  padding-top: 15px;
}

.mb-6 {
  margin-bottom: 90px;
  color: red;
}

.disclaimer {
  background: #fff4e5;
  border-left: 4px solid #f59e0b;
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: 0.9rem;
}

.toc {
  background: #f7fafc;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.toc strong {
  display: block;
  margin-bottom: 0.5rem;
}

.toc ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.toc li {
  margin: 0.4rem 0;
}

.toc .lvl3 {
  margin-left: 1rem;
}

.toc a {
  color: #1a202c;
  text-decoration: none;
}

.toc a:hover {
  text-decoration: underline;
}
