.title {
  font-family: var(--font-question);
  font-size: 40px;
  color: black;
}


.heading {
  color: #2c3e50;
  margin-bottom: 1rem;
}
.paragraph {
  line-height: 1.6;
  margin-bottom: 1rem;
}