.title {
  font-family: var(--font-question);
  font-size: 40px;
  color: black;
  margin-bottom: 1rem;
}


.heading {
  /* color: #2c3e50;
  color: black; */
  color: #333;
  margin-bottom: 1rem;
  font-size: 32px;
  font-family: var(--font-button);
  font-family: var(--font-question);
}

.subheading {
  color: #333;
  margin-bottom: 1.3rem;
  font-size: 24px;
  font-family: var(--font-button);
  font-family: var(--font-question);
}


.paragraph {
  line-height: 1.6;
  margin-bottom: 1rem;
  font-family: var(--font-paragraph);
  /* padding-top: 50px; */
  padding-bottom: 50px;
}

.date {
  font-family: var(--font-button);
  display: block;   
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 30px;
}

/* .intro-separator {
  padding: 200px;
  background-color: pink;
} */

.introSeparator {
  /* border: none;             */
  height: 1px; 
  /* border: solid black 1px;            */
  margin-bottom: 25px;
  /* background-color: #ddd;   */
}

.mb-6 {
  margin-bottom: 90px;
  color: red;
}

