/* global colors */
:root {
    /*global color palette*/
    --color-1: #E4BEA1;
    --color-2: #FF8566;
    --color-3: #A46656;
    --color-4: #55413C; 
    --color-gold: #C5B358; /*maybe logo, discover, submit*/
    --color-nav: #DBCDB2;
    /* --color-home: rgba(228, 190, 161, 0.4); */
    --color-home: #f0e0d5;
      /* #f0e0d5 rgb(240,224,213) home color*/

    /*fonts*/
    --font-theme: 'BlackChancery', serif;
    --font-question: 'Playpen Sans', sans-serif;
    --font-button: 'Noto sans', sans-serif;
    --font-general: 'Merriweather', sans-serif;
    --font-detail: 'Georgia', sans-serif;
    --font-paragraph: 'Noto Sans Georgian', sans-serif;
    /* --font-toolTip: */
    
}


#root {
  /* max-width: 1280px; */
  /* margin: 0 auto;
  padding: 2rem; */
  margin: 0;
  padding: 0;
  text-align: center;
  /* background-color: white; */
  background-color: var(--color-home);
}

.global-body {
  /* background-color: var(--color-home); */
  /* background-color: transparent;  */
  /* background-color: inherit;  */
  font-family: var(--font-general);
  height: 0;
  /* padding-top: var(--nav-height); */
  scroll-padding-top: var(--nav-height);
}

/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}

/* .question-page {
  display: none;
  width: 100%;
  height: 100vh;   
  padding: 20px;
  box-sizing: border-box;
  
} */

.question-page.active {
  display: block;
}

/* .page-0 {
  background-color: #f0f8ff;
  padding: 20px;
} */


/* here is rest on index.css contents that seem right to keep */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  /* width: 100%;
  height: 100%;
  background-color: transparent; */
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 100%; */
  /* background-color: lime;  */
  background-color: transparent;

  /* overflow: hidden; */

}

  /* need to achieve full background color on questions */
  /* width: 100%;
  height: 100%; */

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Lists without bullet points */
ol, ul {
    list-style: none;
}

/* Quotes fix */
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* Table border & spacing fix */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* something about light mode */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--color-home);
  }
  a:hover {
    color: var(--color-4);
  }
  button {
    background-color: #f9f9f9;
  }
}

/* for ToC  */
[id] {
  /* offset by your navbar height (e.g. 4rem) */
  scroll-margin-top: 4rem;
}