.contactFormContainer {
    height: auto;
    width: 80%;
    /* background-color: aqua; */
}

/* form {

}  */

.contactFormClass {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.contactLabel {
    /* background-color: red; */
    height: 50px;
}


.contactFormInput {
    width: 90%;
    height: 3rem;
    font-size: 1.2rem;
    font-family: var(--font-question);
    padding-left: 1rem;
    /* padding: 0.5rem 1rem; */

    border: none;
    color: var(--color-4);
    border-radius: 5px;
    /* box-sizing: border-box; */
}

.contactFormInput::placeholder {
    text-align: left;
    vertical-align: top;
    padding-top: 0.5rem;
}


.contactLabelMessage {
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    /* align-self: center; */
    /* align-items: start; */
    flex-direction: column;
    align-items: center;
}

.message {
    height: 12rem;
    /* display: block; */
    /* flex-direction: row; */
    /* padding-bottom: 9rem; */
    /* white-space: normal; */
    /* width: 51.5rem;
    overflow-wrap: break-word; 
    word-break: break-all;  */
}

.error {
    color: red;
    display: block;
    /* background-color: blue; */
    /* font-size: 12px; */
    /* position: relative; */
    /* left: 0; */
    /* transform: translate(-50%); */

}

/* textarea::placeholder {
    text-align: left;
    vertical-align: top;
    padding-top: 0;
  } */

/* display: flex;
justify-content: flex-end; 
align-items: flex-start;   */

/* .message::placeholder {

} */
